# The name of the temple project
NEXT_PUBLIC_APP_NAME=Saranam

# Your Go backend API address (Default is 4441)
NEXT_PUBLIC_API_HOST=http://localhost:4441

# temple specific configuration
# The YouTube Embed URL for Live Darshan (e.g., https://www.youtube.com/embed/live_stream_id)
NEXT_PUBLIC_YOUTUBE_LIVE_EMBED_URL=

# Versioning
VERSION=0.1.0
